# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Scripts
*.sh~
*.ps1~

# Java/Gradle (if generated)
*.class
.gradle/
build/
out/

# Misc
*.bak
*.tmp

# Test output
/test-output/

# Git
.git/

